* {
  font-family: 'Lateef', cursive;
}


input{
  display: block;
  margin: 40px auto;
  width: 400px;

}

.ingredientDiv{
  display: block;
  margin: 20px auto;
  width: 800px;
  background-color: grey;
  word-wrap: break-word;
  text-align:center;
  color: black;
}



ul{
  background-color: pink;
}

li{
  background-color: blue;
}

h2{
  margin: 10px;
}
